<div class="mobile-layout" data-options="dxLayout : { name: 'mobile' } ">
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', animation: 'view-content-change' }">
    </div>
</div>

<div class="mobile-layout" data-options="dxLayout : { name: 'mobile', platform: 'win', phone: false } ">
    <div class="content layout-content" data-options="dxContentPlaceholder : { name: 'content', contentCssPosition: 'static' }">
    </div>
</div>

<div id="loading" data-bind="dxLoadPanel: { visible: false }"></div>