<div id="inicioApp" data-options="dxView : { name: 'index', title: 'Inicio'} ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background font-style-gray ">        
            <!-- Componentes React -->
            <!-- /*Change to src="../../../dist/bundle.js" if you want to try de app before build the final webpack*/  -->
            <!-- /*Change to src="../../../bundle/app/bundle.js" if you have already built the final webpack*/  -->
            <script src="../../../bundle/app/bundle.js"></script>        
    </div>
</div>
